@{
    ViewData["Title"] = "Entry Submitted";
}

<nav>
    <h2>Joel's Movies</h2>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Home" asp-action="Podcast">My Podcasts</a></li>
        <li><a asp-controller="Home" asp-action="Application">Enter A Movie</a></li>
    </ul>
</nav>

<div class="grid-container">
    <h2>Your movie was entered, thanks!</h2>
</div>

<div class="grid-container">
    <a asp-controller="Home" asp-action="MovieList" class="btn btn-primary">See the movie list</a>
</div>

