@{
    ViewData["Title"] = "Podcast";
}

<nav>
    <h2>Joel's Movies</h2>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Home" asp-action="Podcast">My Podcasts</a></li>
        <li><a asp-controller="Home" asp-action="Application">Enter A Movie</a></li>
    </ul>
</nav>

<div class="grid-container">
    <h1>Check out the podcast: </h1>
    <a href=" https://baconsale.com/">Click here!</a>
</div>

